<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Tests" thread-count="1" parallel="methods">
    <listeners>
        <listener class-name="com.project.project.components.XrayListener"/>
    </listeners>
    <test verbose="2" name="all tests in the project">
        <packages>
            <package name="com.project.project.tests.*"/>
        </packages>
    </test>
</suite>
